.footer {
    width: 100%;
    display: flex;
    padding: 7% 0;
    align-items: center;
    justify-content: space-between;

    &__text { 
        max-width: 170px;
        margin-top: 2rem;
    }
}

@media(max-width: $medium-width) {
    .footer {
        flex-direction: column;
    
        &__text {
            text-align: center;
            max-width: 100%;
            margin-top: 2rem;
        }

        &__contact {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 15%;
            width: 80%;
            order: 2;
        }
    }
}